/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Utils */

.flex {
    display: flex;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col {
    flex-basis: 50%;
    background-color: white;
    border: 1px solid red;
}

.brd {
    border: 1px solid red;
}



/*! Visualizzazione XS */

/* General */

body {
    background-color: rgb(20, 25, 34);
    color: white;
}

.main-nav {
    flex: 0 0 50px;
    height: calc(100vh - 100px);
    background-color: black;
    color: lightgray;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main-view {
    flex: 0 1 100%;
    height: calc(100vh - 100px);
    padding-top: 80px;
    overflow-y: scroll;
}

.main-header {
    height: 80px;
    background-color: black;
    opacity: 0.4;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}

footer {
    height: 100px;
    background-color: rgb(40, 40, 40);
    display: flex;
}

/* Main nav */

.top-nav {
    flex: 0 1 100%;
}

.bottom-nav {
    flex: 1 1 5%;
}

/* Main View */

/* Main playlist */

/* Main Header */

.main-header {
    text-align: end;
}

/* Footer */

.album {
    flex: 0 0 30%;
}

.player {
    flex: 0 1 40%;
}

.general-command {
    flex: 0 0 30%;
}

/* Scrollbar */

.main-view::-webkit-scrollbar {
    display: block;
    width: 10px;
}

.main-view::-webkit-scrollbar-thumb {
    background-color: lightgray;
    border-radius: 10px;
}

.main-view::-webkit-scrollbar-track-piece:end {
    background: transparent;
}

.main-view::-webkit-scrollbar-track-piece:start {
    background: transparent;
    margin-top: 80px;
}



/*! Visualizzazione S */

@media screen and (min-width:576px) {
    .main-nav {
        flex-basis: 180px;
    }
}


/* ! Visualizzazione MD */

@media screen and (min-width: 768px) {
    .col {
        flex-basis: 25%;
    }
}


/* ! Visualizzazione LG */

@media screen and (min-width: 992px) {
    .col {
        flex-basis: calc(100% / 6);
    }
}