/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Utils */

.flex {
    display: flex;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col {
    flex-basis: 50%;
    background-color: white;
    border: 1px solid red;
}

.brd {
    border: 1px solid red;
}

/*! Visualizzazione XS */

/* General */

body {
    background-color: rgb(20, 25, 34);
    color: white;
}

.main-nav {
    flex: 0 0 50px;
    height: calc(100vh - 100px);
    background-color: black;
    color: lightgray;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main-view {
    flex: 0 1 100%;
}

.main-header {
    height: 80px;
    background-color: black;
    opacity: 0.3;
}

.main-playlist {
    height: calc(100vh - 180px);
    overflow-y: scroll;
}

footer {
    height: 100px;
    background-color: rgb(40, 40, 40);
    display: flex;
}

/* Main nav */

.top-nav {
    flex: 0 1 100%;
}

.bottom-nav {
    flex: 1 1 5%;
}

/* Main View */

/* Main Header */

.main-header {
    text-align: end;
}

/* Main playlist */

/* Footer */

.album {
    flex: 0 0 30%;
}

.player {
    flex: 0 1 40%;
}

.general-command {
    flex: 0 0 30%;
}



/*! Visualizzazione S */

@media screen and (min-width:576px) {
    .main-nav {
        flex-basis: 180px;
    }
}


/* ! Visualizzazione MD */

@media screen and (min-width: 768px) {
    .col {
        flex-basis: 25%;
    }
}


/* ! Visualizzazione LG */

@media screen and (min-width: 992px) {
    .col {
        flex-basis: calc(100% / 6);
    }
}